body {
    font-family: 'Arial', sans-serif;
    background-color: #e6c3e2;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #f8f8f8; 
}

.flowers {
    margin-top: 20px;
    animation: float 3s infinite; /* Adjust animation duration if needed */
    position: relative;
    z-index: 1;
}

.flowers img {
    width: 300px; /* Adjust the size of the flowers */
    margin: 10px;
}

